body{font-family: 'Courier New', Courier, monospace;
margin:0;
background-color: crimson;
color:#333;
}

.cabecalho{
background-color:#2c3e50;
transition: transform 0.3s;
  
color:white;
padding:20px;
text-align:center;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container-principal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px; 

    .cartão{
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin: 10px;
        padding: 20px;
        transition: transform 0.3s;
    }
    .cartão:hover{
        transform:translateY(-5px);
    }
    .rodapé{
        background: color #34495e;
        color:#ecf0f1;
        text-align:center;
        padding:15px;
        margin-top:30px;
}
}